.search{
  background-color: #ffffff;
  padding-bottom: 0.5rem;
  border-radius: 20px;

  ion-searchbar{
    color: #a8a8a8;
    --background: #fdfdfd;
    --icon-color: #FFAB4C;
    --border-radius: 0;

  }
}